* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #384e61;
}

/* .main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
} */

